<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe and Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="tictactoe">
        <!-- Tic-Tac-Toe board dynamically created by JavaScript -->
    </div>
    <div id="chat">
        <ul id="messages"></ul>
        <input id="messageInput" type="text" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
    </div>
</body>
</html>
